/* Variable Styles */

// Colors

$blue-white:    #ecf3fa;
$blue-light:    #bcd0e1;
$blue:          #1b3c5a;
$blue-dark:     #112a41;
$blue-black:    #162533;
 
$red:           #e70a2d;

$orange-light:  #efc99a;
$orange:        #ec9224;

$green-light:   #dbe9c6;
$green:         #83b241;

$white:         #ffffff;
$black:         #1c1c1c;
$text:          #404040;
$gray-light:    #e7e7e7;
$gray:          #a2a2a2;

// Sizes

$gutter-large:  100px;
$gutter-medium: 60px;
$gutter-small:  30px;

$soften:        4px;
$rounded:       10px;
$circle:        500px;

$pagewidth:      1240px;

// Fonts

$body: 'Montserrat', sans-serif;
$heading: 'Roboto Slab', sans-serif;