@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variable Styles */
.skip-link {
  display: block;
  position: absolute;
  top: -200px;
  left: -200px;
}
.skip-link:focus {
  top: 50px;
  left: 50px;
  padding: 10px 20px;
  border: 2px solid #404040;
  font-weight: bold;
  background: #e7e7e7;
}

a {
  transition: all 0.3s;
}
a:hover {
  transition: all 0.3s;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #ecf3fa;
}

.page {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 10px;
}
.page-wrapper {
  max-width: 1240px;
  margin: 100px auto;
}

.footer-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 60px 0;
}

#site-header {
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(28, 28, 28, 0.5);
}
#site-branding {
  padding: 3px 25px;
  width: 125px;
  height: 50px;
  display: block;
}
#site-branding svg {
  width: 70px;
  height: auto;
}

.sticky-header {
  padding-top: 50px;
}
.sticky-header #site-header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.sticky-footer #footer-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

#footer-header {
  height: 40px;
  display: flex;
  background-color: #1b3c5a;
  color: #ffffff;
  font-size: 16px;
}
#footer-header > div {
  display: flex;
}
#footer-header .phone {
  padding-left: 25px;
  align-items: center;
}
#footer-header .phone svg {
  margin-right: 10px;
}
#footer-header a {
  color: #ffffff;
  text-decoration: none;
}
#footer-header a:hover {
  color: #ec9224;
}
#footer-header .social {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
#footer-header .social-icons {
  display: flex;
}
#footer-header .social-links {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
#footer-header .account-icon {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-left: 20px;
  border-left: 1px solid #bcd0e1;
}
#footer-header .account-icon:hover {
  background-color: #ec9224;
  color: #1b3c5a;
}

#footer-body {
  background-color: #112a41;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
#footer-body .footer-widget:not(:last-of-type) {
  margin-bottom: 60px;
}
#footer-body a {
  color: #ffffff;
  text-decoration: none;
}
#footer-body a:hover {
  color: #ec9224;
}
#footer-body .widget-title {
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
#footer-body .widget-title svg {
  width: 30px;
}
#footer-body .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container,
#footer-body .footer-wrapper .menu-footer-menu-2-container {
  flex-basis: 24%;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item {
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item a,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item a {
  color: #ffffff;
  text-decoration: none;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item a:hover,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item a:hover {
  color: #ec9224;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item a svg,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item a svg {
  width: 30px;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item .sub-menu,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item .sub-menu {
  margin-top: 15px;
  line-height: 1;
  font-size: 0.9em;
  margin-left: 20px;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item .sub-menu .sub-menu,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item .sub-menu .sub-menu {
  font-size: 1em;
  margin-top: 0.7em;
}
#footer-body .footer-wrapper .menu-footer-menu-1-container .menu-item .sub-menu .menu-item,
#footer-body .footer-wrapper .menu-footer-menu-2-container .menu-item .sub-menu .menu-item {
  margin-bottom: 0.7em;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
#footer-body .footer-wrapper .twitter-widget {
  flex-basis: 49%;
}
#footer-body .footer-wrapper .twitter-widget iframe {
  overflow-y: scroll !important;
  display: block !important;
}
#footer-body .footer-wrapper .badges, #footer-body .footer-wrapper .locations {
  flex-basis: 100%;
  text-align: center;
}
#footer-body .footer-wrapper .locations .location {
  font-size: 16px;
}
#footer-body .footer-wrapper .locations .location:not(:last-of-type)::after {
  content: "  •  ";
}
#footer-body .footer-wrapper .badges {
  display: flex;
  justify-content: center;
}
#footer-body .footer-wrapper .badges .badge {
  max-width: 280px;
  max-height: 100px;
}
#footer-body .footer-wrapper .badges .badge-img {
  max-width: 100%;
  max-height: 100%;
}

#footer-footer {
  background-color: #162533;
  padding: 12px 25px 10px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-size: 12px;
  line-height: 1;
}
#footer-footer a {
  color: #ec9224;
  text-decoration: none;
}
#footer-footer a:hover {
  color: white;
}

#site-navigation {
  position: relative;
  height: 50px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-grow: 1;
}
#site-navigation .menu-main-menu-container {
  display: flex;
}
#site-navigation .menu-main-menu-container .menu {
  display: flex;
}
#site-navigation .menu-main-menu-container .menu-item {
  display: flex;
}
#site-navigation .menu-main-menu-container .menu-item a {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #1b3c5a;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
#site-navigation .menu-main-menu-container .menu-item:hover a {
  background-color: #bcd0e1;
}
#site-navigation .menu-main-menu-container .menu-item:hover .sub-menu {
  display: flex;
}
#site-navigation .menu-main-menu-container .sub-menu {
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 0 25px;
  background-color: #bcd0e1;
  width: 100vw;
  display: none;
  height: 50px;
  justify-content: flex-end;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item a {
  text-transform: capitalize;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item:hover a {
  background-color: #1b3c5a;
  color: #ffffff;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item:hover .sub-menu {
  display: flex;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item .sub-menu {
  background-color: #1b3c5a;
  display: none;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item .sub-menu .menu-item a {
  color: #bcd0e1;
  background: #1b3c5a;
}
#site-navigation .menu-main-menu-container .sub-menu .menu-item .sub-menu .menu-item:hover a {
  color: #ffffff;
  background: #1b3c5a;
}
#site-navigation .search-icon {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 0 15px;
  color: #1b3c5a;
  font-size: 16px;
}
#site-navigation .search-icon:hover {
  background-color: #bcd0e1;
}
